.button-container {
  margin-top: 5vh;

  width: 120px;
}

.comencemos {
  transform: scale(1.3);
}

rizo-logo {
  width: 30vw;
}

.planta {
  margin-top: -17vh;
}

@media (max-width: 1023px) {
  .comencemos {
    display: none;
  }

  .planta {
    margin-top: 10vw;
  }

  rizo-logo {
    width: 45vh;
  }
}
