<rizo-loader [loader]="loader"></rizo-loader>
<rizo-navbar></rizo-navbar>
<div class="container">
  <div class="float-end mt-4">
    <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="animations = !animations">
        <mat-icon>style</mat-icon>
        <span>Desactivar/Activar animaciones</span>
      </button>
    </mat-menu>
  </div>
  <div class="d-flex justify-content-center">
    <rizo-logo [animation]="animations"></rizo-logo>
  </div>
  <div class="text-center mt-4 ms-3">
    <button
      class="fw-bold start comencemos"
      mat-flat-button
      color="primary"
      [textContent]="'COMENCEMOS'"
      (click)="arbol()"
    ></button>
  </div>
  <div class="planta">
    <rizo-planta></rizo-planta>
  </div>
</div>
