<rizo-loader [loader]="loader"></rizo-loader>
<rizo-navbar></rizo-navbar>
<div class="container-fluid">
  <div class="row justify-content-end mt-3">
    <div class="col-4 text-end">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon [ngClass]="animations ? 'help-animado' : 'help'"
          >more_vert</mat-icon
        >
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="animations = !animations">
          <mat-icon>{{
            animations ? "visibility_off" : "visibility"
          }}</mat-icon>
          <span>{{ animations ? "Desactivar" : "Activar" }} animaciones</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <!--LOGO-->
  <div class="row">
    <div class="col-12 text-center">
      <div class="d-flex justify-content-center">
        <rizo-logo [animation]="animations"></rizo-logo>
      </div>
    </div>
  </div>
  <!--Botón-->
  <div class="row mt-3">
    <div class="col-12 d-lg-flex d-xl-flex d-none justify-content-center">
      <button
        [ngClass]="animations ? 'comencemos-animado' : 'comencemos'"
        class="fw-bold w-25 ms-2"
        mat-flat-button
        [textContent]="'COMENCEMOS'"
        (click)="arbol()"
      ></button>
    </div>
  </div>
  <!--footer-->
  <div class="row position-absolute bottom-0 w-100 align-items-end">
    <div class="col-6 d-flex justify-content-start">
      <rizo-planta></rizo-planta>
    </div>
    <div class="col-6 d-flex justify-content-end text-center">
      <button mat-icon-button class="text-center" (click)="openCreditos()">
        <mat-icon [ngClass]="animations ? 'help-animado' : 'help'"
          >group_outline</mat-icon
        >
      </button>
    </div>
  </div>
</div>
