<div class="creditos">
  <div class="float-end">
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div>
    <h2 class="text-center fw-bold fs-3 ms-4">CREDITOS</h2>
  </div>
  <div class="container-fluid">
    <div class="row" mat-dialog-content>
      <div class="col-12">
        <h4 class="text-center fw-bold">
          Proyecto: Desarrollo de herramientas virtuales para la enseñanza de
          las ciencias sociales. “Rizomas”
        </h4>
        <p class="text-center">
          Financiado por convocatoria interna de IUCOLMAYOR, 2021. Grupo de
          investigación Estudios sobre el desarrollo local y la gestión
          territorial. Facultad de Ciencias sociales y Educación.
        </p>
      </div>
      <div class="col-12">
        <h4 class="text-center fw-bold">En alianza con:</h4>
        <p class="text-center">
          Institución Universitaria ITM Grupo de investigación Máquinas
          <br />
          Inteligentes Grupo de investigación Automática Electrónica y Ciencias
          Computacionales
        </p>
      </div>
      <div class="col-12">
        <h4 class="text-center fw-bold">Equipo de trabajo</h4>
        <p class="text-center">
          Esperanza Milena Torres Madroñero – Investigadora principal IUCOLMAYOR
          <br />
          Luz Dary Ruiz Botero- Coinvestigadora IUCOLMAYOR
          <br />
          Orlando Alarcón Pérez- Coinvestigador ITM
          <br />
          Diana Patricia Bedoya Ruiz – Coinvestigadora ITM
          <br />
          Gabriel Taborda Blandón – Coinvestigadora ITM María Constanza Torres
          Madroñero – Asesora ITM
          <br />
          Brayan Stivens Sepúlveda Molina – Estudiante en formación ITM
          <br />
          Johan Stiven Osorio Vélez – Estudiante en formación ITM
          <br />
          Dahiana Andrea Sánchez Londoño - Estudiante en formación ITM
          <br />
          Melissa Osorio – Apoyo en escritura y revisión de biografías mujeres
          IUCOLMAYOR
          <br />
          Daniela Arenas- Monitora de investigación IUCOLMAYOR
          <br />
          Karol Ibarra – Diseño gráfico de Rizomas - IUCOLMAYOR
          <br />
          Carol Ramírez –Producción de podcast Tramas sonoras – IUCOLMAYOR
          <br />
          Eliana Sánchez – Coinvestigadora
        </p>
      </div>
    </div>
  </div>

  <div mat-dialog-actions class="row justify-content-end w-100 mb-n5">
    <p class="text-center copy">Copyright©-2022</p>
  </div>
</div>
