<div class="bg w-100">
  <div matDialogTitle>
    <div class="float-end">
      <button mat-icon-button matDialogClose>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <h2 class="fw-bold text-center">Seguimiento</h2>
  </div>

  <div matDialogContent>
    <div class="container">
      <div class="col-12 col-lg-6 text-start">
        <div>
          <h2 class="fw-bold text-start">
            {{ data.estudiante.nombre + " " + data.estudiante.primerApellido }}
          </h2>
        </div>
      </div>
      <div class="col-12 col-lg-6 text-start">
        <h2 class="fw-bold text-start">
          {{ "Total visto % " + porcentajeVisto }}
        </h2>
      </div>
      <div class="mt-4 mb-3">
        <rizo-table
          [data]="dataSourse"
          [columnHeader]="columnHeader"
          [paginationType]="paginationType"
          [selectStrategy]="selectStrategy"
        ></rizo-table>
      </div>
    </div>
  </div>
</div>
