
<rizo-loader [loader]="loader"></rizo-loader>
<div mat-dialog-title>
  <button mat-icon-button mat-dialog-close class="float-end">
    <mat-icon>close</mat-icon>
  </button>
  <h1 class="text-center">Rizomas</h1>
</div>

<div mat-dialog-content>
  <div class="container">
    <div class="row">
      <div *ngFor="let contenido of this.data.contenidos; let i = index">
        <div class="col-12 text-center">
          <h2 class="fw-bold">¿Te gusto el contenido "{{contenido.titulo}}" ?</h2>
          <rizo-star-rating [rating]="rating" [starCount]="starCount" (ratingUpdated)="showComent($event, i)"></rizo-star-rating>
        </div>
        <div class="col-12 text-center" *ngIf="response[i] === true">
          <form [formGroup]="form">
            <mat-form-field class="w-75" appearance="outline">
              <mat-label>Deja tu comentario</mat-label>
              <textarea 
                class="text-area" 
                matInput placeholder="Deja tu comentario" 
                formControlName="comentario"
                (ngModelChange)="setComentario($event, i)"></textarea>
            </mat-form-field>
          </form>
        </div>
      </div>
      </div>

    <div class="mt-3 text-center">
      <button
        mat-raised-button
        matDialogClose
        color="primary"
        [textContent]="'ENVIAR'"
        class="w-50 text text-light"
        (click)="send()"
      ></button>
    </div>
  </div>
</div>
