<rizo-navbar
  [btnLogin]="false"
  [btnStart]="false"
  [btnLogOut]="true"
  [textBtnLogOut]="'SALIR'"
  [tittle]="'ADMINISTRADOR'"
></rizo-navbar>
<mat-tab-group
  mat-align-tabs="center"
  animationDuration="1500ms"
  (selectedTabChange)="tabChange($event)"
>
  <mat-tab label="Usuarios">
    <rizo-usuarios></rizo-usuarios>
  </mat-tab>
  <mat-tab label="Grupos">
    <rizo-grupos></rizo-grupos>
  </mat-tab>
  <mat-tab label="Puntos">
    <rizo-puntos></rizo-puntos>
  </mat-tab>
  <mat-tab label="Contenido">
    <rizo-contenidos></rizo-contenidos>
  </mat-tab>
</mat-tab-group>
